<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/head %>
  <link rel="stylesheet" href="/css/dark.bootstrap.css">
</head>
<body>
  <%- include partials/nav %>
  <%- include partials/errors %>
  <%- body %>
  
  <%- include partials/scripts %>
</body>
</html>